[submodule "system"]
	path = system
	url = http://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = http://github.com/kohana/database.git
[submodule "modules/orm"]
	path = modules/orm
	url = http://github.com/kohana/orm.git
[submodule "modules/xml"]
	path = modules/xml
	url = http://github.com/ccazette/Kohana_XML.git
[submodule "modules/kohana-aws"]
	path = modules/kohana-aws
	url = http://github.com/jylinman/kohana-aws.git
[submodule "modules/image"]
	path = modules/image
	url = http://github.com/kohana/image.git
[submodule "modules/cache"]
	path = modules/cache
	url = http://github.com/kohana/cache.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = git://github.com/kohana/unittest.git
